# Auto detect text files and perform LF normalization
* text=auto
assets/databases/*.db filter=lfs diff=lfs merge=lfs -text
assets/database/*.gz filter=lfs diff=lfs merge=lfs -text
assets/translations/github_chening233.csv filter=lfs diff=lfs merge=lfs -text
assets/translations/hf_danbooru_cooccurrence.csv filter=lfs diff=lfs merge=lfs -text
fonts/*.ttf filter=lfs diff=lfs merge=lfs -text
